@import "../../../styles/variables";


.field__container {
  display: flex;
  flex-direction: column;

  position: relative;
  margin-bottom: 24px;
  height: 68px;

  text-align: start;

  &::before {
    content: "*";
    position: absolute;
    color: $warrningRoseColor;
    top: 4px;
    left: 0;
    font-size: 16px;
  }
}

.label {
  padding-left: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.field__input {
  padding: 12px 0 12px 20px;
  margin-bottom: 4px;

  background-color: transparent;
  border: none;
  border: 1px solid $backgroundColor;
  border-radius: 10px;

  color: $whiteColor;

  transition: border-color $animation;

  &::placeholder {
    color: $lightGreyColor;
  }

  &:hover,
  &:focus {
    // border-color: $accentBlueColor;
    outline: none;
  }
}

.field__error {
  font-size: 13px;
  letter-spacing: 0.01625rem;
  line-height: 1, 85;
  color: $warrningRoseColor;
  animation: errorAnimation 0.3s ease-in-out forwards;
}

.error {
  border-color: $warrningRoseColor;
}

