.container {

  min-width: $mobile;
  margin-right: auto;
  margin-left: auto;

  padding-right: 24px;
  padding-left: 24px;

  @media screen and (min-width: $tablet) {
    min-width: $tablet;
    padding-right: 48px;
    padding-left: 48px;
  }

  @media screen and (min-width: $desktop) {
    min-width: $desktop;
  }
}