$backgroundColor: #e6f8de;
$warrningRoseColor: #eb3795;
$whiteColor: #ffffff;


$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$bodyFont: "Roboto Mono", sans-serif;

$mobile: 320px;
$mobileEnd: 767px;
$tablet: 768px;
$tabletEnd: 1279px;
$desktop: 1280x;