$backgroundColor: #2E7D32;
$backgroundColorWithOpacity: rgba(46, 125, 50, 0.4);
$warrningRoseColor: #eb3795;
$whiteColor: #ffffff;
$blackColor: #060412;
$lightGreyColor: #b3b3b3;
$blueColor: #204ffe;


$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$bodyFont: "Roboto Mono", sans-serif;

$mobile: 320px;
$mobileEnd: 767px;
$tablet: 768px;
$tabletEnd: 1279px;
$desktop: 1280px;