@import "../../styles/variables";

.header {
  background-color: $backgroundColor;
}

.header__wrap {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: baseline;
}

.header__description {
  margin-right: 15px;
}

.header__logo {
  display: inline-block;
  padding: 10px 0;
  transition: scale $animation;
  ;

  &:hover {
    scale: 1.02;
  }

  &:active {
    scale: 1.04;
  }
}
