@import "../../../styles/variables";

.searchInput {
  height: 36px;
  padding-left: 15px;
  background-color: $blackColor;
  color: $whiteColor;
  margin: 0;
  font-family: 'Roboto';
  border: 2px solid $backgroundColor;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 12px;
  outline: none;
}
// import styled from 'styled-components';
// import { StyledInput } from '../FieldInput/FieldInput.styled';
// import { COLORS } from '../../../theme';

// export const StyledSearchInput = styled(StyledInput)`
//   height: 36px;
//   font-family: Roboto;
//   border-color: ${COLORS.inputBorderColor};
//   border-radius: 4px;
//   font-size: 16px;
//   margin-left: 12px;
//   outline: none;

//   &::placeholder {
//     font-size: 16px;
//     font-weight: 500;
//     color: ${COLORS.inputBorderColor};
//   }
// `;
