@import "../../styles/variables";

.footer {
  margin-top: auto;           //for footer to bottom
  background-color: $backgroundColor;
  padding: 15px 0;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}


